  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/static/index.js"></script>
    <link href="/static/index.css" rel="stylesheet" type="text/css" />
  </head>
<div class="switch-wrap">
			<div id="switch" class="hover-target">
				<div id="circle"></div>
			</div>
		</div>
		
		<!-- Page cursor
		================================================== -->
		
        <div class='cursor' id="cursor"></div>
        <div class='cursor2' id="cursor2"></div>
        <div class='cursor3' id="cursor3"></div> 

    <div class="section">
			<ul class="case-study-wrapper">
				<li class="case-study-name">                            	
					<a href="#" class="hover-target">nature</a>
				</li>
				<li class="case-study-name">                                         	
					<a href="#" class="hover-target">travel</a>
				</li>
				<li class="case-study-name">                                        	
					<a href="#" class="hover-target">fashion</a>
				</li>
				<li class="case-study-name">                                         	
					<a href="#" class="hover-target">culture</a>
				</li>
			</ul>
			<ul class="case-study-images">
				<li>
					<div class="img-hero-background">
						<span>
							<img src="https://ivang-design.com/svg-load/slider/1.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/2.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/3.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/4.jpg" alt="">
						</span> 
					</div> 
					<div class="hero-number-back">01</div> 
					<div class="hero-number">01</div> 
					<div class="hero-number-fixed">04</div> 
				</li>
				<li>
					<div class="img-hero-background">
						<span>
							<img src="https://ivang-design.com/svg-load/slider/5.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/6.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/7.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/8.jpg" alt="">
						</span> 
					</div> 
					<div class="hero-number-back">02</div> 
					<div class="hero-number">02</div>  
				</li>
				<li>
					<div class="img-hero-background">
						<span>
							<img src="https://ivang-design.com/svg-load/slider/9.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/10.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/11.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/12.jpg" alt="">
						</span> 
					</div>
					<div class="hero-number-back">03</div>  
					<div class="hero-number">03</div> 
				</li>
				<li>
					<div class="img-hero-background">
						<span>
							<img src="https://ivang-design.com/svg-load/slider/13.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/14.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/15.jpg" alt="">
						</span> 
						<span>
							<img src="https://ivang-design.com/svg-load/slider/16.jpg" alt="">
						</span> 
					</div> 
					<div class="hero-number-back">04</div> 
					<div class="hero-number">04</div> 
				</li>
			</ul>	
		</div>

<!-- Link to page
	================================================== -->

  <a href="https://themeforest.net/user/ig_design/portfolio" class="link-to-portfolio hover-target" target="_blank"></a>

