<table class="table table-hover post-table">
    <tr>
        <td width="70px" id="desktop">
            <strong class="font-weight-bold mt-0">
                {% set vote = post_votes[post.id] %}
                {% if vote is defined %}
                    {% if vote.upvote %}
                        {% set upvote_class = "vote_active" %}
                        {% set downvote_class = "" %}
                    {% else %}
                        {% set upvote_class = "" %}
                        {% set downvote_class = "vote_active" %}
                    {% endif %}
                {% else %}
                    {% set upvote_class = "" %}
                    {% set downvote_class = "" %}
                {% endif %}
                <button class="vote" id="{{ post.id }}_upvote" onclick="submitVote({{ post.id }}, 1)" style="width:100%; border: 0px; background-color: transparent !important;">
                    <img id="{{ post.id }}_upvote_img" class="upvote_img {{ upvote_class }}" src="{{ url_for('static', filename='images/upvote2.svg') }}" height="40" width="60">
                </button>
                <p id="{{ post.id }}_votes" class="votes-num" style="text-align: center; margin-bottom: 0px;">{{ post.votes_num() }}</p>
                <button type="submit" class="vote" id="{{ post.id }}_downvote" onclick="submitVote({{ post.id }}, 0);" style="width:100%; border: 0px; background-color: transparent !important;">
                    <img id="{{ post.id }}_downvote_img" class="downvote_img {{ downvote_class }}" src="{{ url_for('static', filename='images/upvote2.svg') }}" height="40" width="60">
                </button>
            </strong><br>
        </td>       
        <td>
            <div class="post-info-box">
                <div class="avatar-box">
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        <img src="{{ post.author.avatar(70) }}" alt='avatar'/>
                    </a>
                </div>
                <div class="post-details-box">
                    <p class="date" style="float: right; position: relative; top: 4px;">{{ moment(post.timestamp).fromNow() }}</p>
                    <h1 class="post-title" style="margin: 0; font-size: 200%; font-weight: normal; line-height: 140%; padding-bottom: 1px;"><a href="{{ url_for('get_post', postid=post.id) }}">{{ post.title }}</a></h1>
                    <div class="post_details" style="padding-bottom: 5px; border-bottom: 1px solid #ddd">
                        <strong style="font-size: 13px">Posted by </strong>
                        <span class="label label-danger"><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></span>
                        {% if post_tags|length > 0 %}
                            <strong style="font-size: 13px">under </strong>
                            {% for tag_group, tags in post_tags.items() %}
                                    {% for tag in tags %}
                                        <span class="badge" style="background-color: {{tag_colors[tag_group]}}; color: black;">{{ tag.source.name }}</span>  <!-- implement when tags  -->
                                    {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <p style="margin-top: 12px; font-size:17px">{{ post.body }}</p>
            {% if post.image_url %}
                {% set file_ext = "." + post.image_url.split('.')[-1] %}
                {% if file_ext in ['.png', '.jpg', '.gif'] %}
                    <img src="{{ post.image_url }}" alt="Image" style="max-height: 450px; max-width: 75%; clear: both; display: inline;"></img>
                {% endif %}
                {% if file_ext == 'pdf' %}    <!-- TODO: google embed will work when server published :( -->
                    <!-- <iframe src="https://docs.google.com/gview?url=http://127.0.0.1:5000{{ post.image_url }}&embedded=true" style=width:600px; height:500px; title="pdf"></iframe> -->
                    <iframe style='margin-top:0.7em' src='{{ post.image_url }}' height='450' width='95%' title='pdf'></iframe>
                {% endif %}
                {% if file_ext in office_extensions %} <!-- will implement after server hosting -->
                    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=https://cdn.discordapp.com/attachments/846891310296203324/945424581664055326/Insert_school_work_here.docx" height='450px' width='95%' title='docx' id="desktop"></iframe>
                    <iframe src="https://docs.google.com/gview?url=https://cdn.discordapp.com/attachments/846891310296203324/945424581664055326/Insert_school_work_here.docx&embedded=True" height='450' width='95%' title='docx' id="mobile"></iframe>
                {% endif %}
            {% endif %}
        </td>
        
    </tr>
</table>