{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>textarea { resize: vertical; min-height: 122px; } </style>
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <!-- {{ wtf.quick_form(form) }} -->
        <form action="" method="post" class="post-form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }}<br>
                {{ form.title(class_="form-control") }}
                {% for error in form.title.errors %}
                    <span class="errorSpan">[{{ error }}]</span>
                {% endfor %}
            </div><br>
            <div>
                {{ form.body.label }}<br>
                {{ form.body(class_="form-control") }}
                {% for error in form.body.errors %}
                    <span class="errorSpan">[{{ error }}]</span>
                {% endfor %}
            </div><br>
            <div>
                {{ form.file.label }}<br>
                {{ form.file }}
                {% for error in form.file.errors %}
                    <span class="errorSpan">[{{ error }}]</span>
                {% endfor %}
            </div><br>
            <div>
                {{ form.tags.label }}<br>
                {% for choice in form.tags.choices %}
                    <div class="form-check">
                        <input type="checkbox" id="{{ loop.index }}" value="{{ choice[0] }}" name="tags">
                        <label for="{{ loop.index }}">{{ choice[1] }}</label><br>
                    </div>
                {% endfor %}
            </div><br>
            <p>{{ form.submit(class_="btn btn-default") }}</p><br>
        </form>
    {% endif %}
    {% for post in posts %}
        {% set post_tags = all_tags[post.id] %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
