{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_post.css') }}">
{% endblock %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <button type="button" class="postform-opener btn btn-info btn-lg btn-block btn-full" data-toggle="modal" data-target="#exampleModal">Create a new post!</button>
    
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Post Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="post-form" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div>
                            {{ form.title.label }}<br>
                            {{ form.title(class_="form-control") }}
                            {% for error in form.title.errors %}
                                <span class="errorSpan">[{{ error }}]</span>
                            {% endfor %}
                        </div><br>
                        <div>
                            {{ form.body.label }}<br>
                            {{ form.body(class_="form-control") }}
                            {% for error in form.body.errors %}
                                <span class="errorSpan">[{{ error }}]</span>
                            {% endfor %}
                        </div><br>
                        <div>
                            {{ form.file.label }}<br>
                            {{ form.file }}
                            {% for error in form.file.errors %}
                                <span class="errorSpan">[{{ error }}]</span>
                            {% endfor %}
                        </div><br>
                        <div>
                            {{ form.tags.label }}<br>
                            {% for choice in form.tags.choices %}
                                <div class="form-check">
                                    <input type="checkbox" id="{{ loop.index }}" value="{{ choice[0] }}" name="tags">
                                    <label for="{{ loop.index }}">{{ choice[1] }}</label><br>
                                </div>
                            {% endfor %}
                        </div><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Post!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        
    {% endif %}
    {% for post in posts %}
        {% set post_tags = all_tags[post.id] %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        })

        $(document).ready(function () {
        $('.postform-opener').click(function () {
            var url = $(this).data('whatever');
            $.get(url, function (data) {
                $('#Modal .modal-content').html(data);
                $('#Modal').modal();

                $('#submit').click(function (event) {
                    event.preventDefault();
                    $.post(url, data = $('#ModalForm').serialize(), function (
                        data) {
                        if (data.status == 'ok') {
                            $('#Modal').modal('hide');
                            location.reload();
                        } else {
                            var obj = JSON.parse(data);
                            for (var key in obj) {
                                if (obj.hasOwnProperty(key)) {
                                    var value = obj[key];
                                }
                            }
                            $('.help-block').remove()
                            $('<p class="help-block">' + value + '</p>')
                                .insertAfter('#' + key);
                            $('.form-group').addClass('has-error')
                        }
                    })
                });
            })
        });
    });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/voting.js') }}"></script>
{% endblock %}