{% extends "base.html" %}


{% block app_content %}

<table class="table table-hover">
    <tr>
        <td id='desktop' width="75px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(100) }}" alt='avatar'/>
            </a>
        </td>
        <td>
            <p class="date" style="float: right; position: relative; top: 8px; font-size: 130%">{{ moment(post.timestamp).fromNow() }}</p>
            <h1 class="post-title" style="margin: 0; font-size: 300%; font-weight: normal; line-height: 140%; padding-bottom: 3px;"><a>{{ post.title }}</a></h1>
            <div class="post_details" style="padding-bottom: 10px; border-bottom: 1px solid #ddd">
                <strong style="font-size: 20px">Posted by </strong>
                <span class="label label-danger" style="font-size: 110%;"><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></span>
                <strong style="font-size: 20px">under </strong>
                {% if tags %}
                    {% for tag in tags %}
                        <span class="label label-primary" style="font-size: 110%;">{{ tag }}</span>  <!-- implement when tags  -->
                    {% endfor %}
                {% endif %}
            </div>
            <p style="margin-top: 20px; font-size: 30px">{{ post.body }}</p>
            {% if post.image_url %}
                {% set file_ext = post.image_url.split('.')[-1] %}
                {% if file_ext in ['png', 'jpg'] %}
                    <img src="{{ post.image_url }}" alt="Image" style="max-height: 700px; max-width: 95%;"></img>
                {% endif %}
                {% if file_ext == 'pdf' %}    <!-- TODO: google embed will work when server published :( -->
                    <!-- <iframe src="https://docs.google.com/gview?url=http://127.0.0.1:5000{{ post.image_url }}&embedded=true" style=width:600px; height:500px; title="pdf"></iframe> -->
                    <iframe style='margin-top:5em' src='{{ post.image_url }}' height='700' width='95%' title='pdf'></iframe>
                {% endif %}
                {% if file_ext == 'docx' %} <!-- will implement after server hosting -->
                    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=https://cdn.discordapp.com/attachments/846891310296203324/945424581664055326/Insert_school_work_here.docx" height='700' width='95%' title='docx' id="desktop"></iframe>
                    <iframe src="https://docs.google.com/gview?url=https://cdn.discordapp.com/attachments/846891310296203324/945424581664055326/Insert_school_work_here.docx&embedded=True" height='600' width='90%' title='docx' id="mobile"></iframe>
                {% endif %}
            {% endif %}
        </td>
    </tr>     
    

    <style>
        @media only screen and (max-width: 450px) {
            #desktop {
                display: none;
            }   
        }
        @media only screen and (min-width: 450px) {
            #mobile {
                display: none;
            }   
        }
    </style>    
{% endblock %}

